        <div id="footer">
            <div class="container">
                <div class="col-md-3 col-sm-6">
                    <h4>Pages</h4>

                    <ul>
                        <li><a href="text.html">About us</a></li>
                        <li><a href="text-left.html">Terms and conditions</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>

                    <hr>

                    <h4>User section</h4>

                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Top categories</h4>

                    <h5>Themes</h5>

                    <ul>
                        <li><a href="category.html">For my business</a></li>
                        <li><a href="category.html">Modern blog</a></li>
                        <li><a href="category.html">Games</a></li>
                        <li><a href="category.html">Fashion</a></li>
                        <li><a href="category.html">Food</a></li>
                        <li><a href="category.html">Sports</a></li>
                    </ul>

                    <h5>Plugins</h5>
                    <ul>
                        <li><a href="category.html">T-shirts</a></li>
                        <li><a href="category.html">Skirts</a></li>
                        <li><a href="category.html">Pants</a></li>
                        <li><a href="category.html">Accessories</a></li>
                    </ul>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">

                    <h4>Get the news</h4>

                    <p class="text-muted">Stay informed of the latest hot themes ready to empower your website.</p>

                    <a href="contact.html">Go to contact page</a>

                    <form action="//wordpressya.us12.list-manage.com/subscribe/post?u=affbcac6e3f55e574049d1522&amp;id=a6f371db44" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="input-group">
                          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                          <div style="position: absolute; left: -5000px;">
                            <input type="text" class="form-control" name="b_affbcac6e3f55e574049d1522_a6f371db44" tabindex="-1" value="">
                          </div>
                          <span class="input-group-btn">
                            <input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
                          </span>
                        </div>
                    </form>

                    <hr>

                    <h4>Stay in touch</h4>

                    <p class="social">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </p>


                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->
