    <!-- *** NAVBAR ***
_________________________________________________________ -->

    <div class="navbar navbar-default navbar-fixed-top yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="/">
                    <img src="/img/logo.png" alt="Minimal logo" class="hidden-xs hidden-sm">
                    <img src="/img/logo-small.png" alt="Wordpressya logo" class="visible-xs visible-sm"><span class="sr-only">Wordpressya - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle btn-primary" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle btn-default" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <button type="button" class="navbar-toggle btn-default" data-toggle="modal" data-target="#login-modal">
                        <span class="sr-only">User login</span>
                        <i class="fa fa-users"></i>
                    </button>

                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active dropdown normal-dropdown"><a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hosting <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img src="/img/men.jpg" class="img-responsive hidden-xs" alt="">
                                        </div>
                                        <div class="col-sm-3">
                                            <h3>Clothing</h3>
                                            <ul>
                                                <li><a href="/category">T-shirts</a>
                                                </li>
                                                <li><a href="/category">Shirts</a>
                                                </li>
                                                <li><a href="/category">Pants</a>
                                                </li>
                                                <li><a href="/category">Accessories</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3>Clothing</h3>
                                            <ul>
                                                <li><a href="/category">T-shirts</a></li>
                                                <li><a href="/category">Shirts</a></li>
                                                <li><a href="/category">Pants</a></li>
                                                <li><a href="/category">Accessories</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3>Shoes</h3>
                                            <ul>
                                                <li><a href="/category">Trainers</a></li>
                                                <li><a href="/category">Sandals</a></li>
                                                <li><a href="/category">Hiking shoes</a></li>
                                                <li><a href="/category">Casual</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer clearfix hidden-xs">
                                    <h4 class="pull-right">Men</h4>
                                    <div class="buttons pull-left">
                                        <a href="#" class="btn btn-default"><i class="fa fa-tags"></i> Sales</a>
                                        <a href="#" class="btn btn-default"><i class="fa fa-star-o"></i> Favourites</a>
                                        <a href="#" class="btn btn-default"><i class="fa fa-globe"></i> Brands</a>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img src="/img/women.jpg" class="img-responsive hidden-xs" alt="">
                                        </div>
                                        <div class="col-sm-3">
                                            <h3>Clothing</h3>
                                            <ul>
                                                <li><a href="/category">T-shirts</a></li>
                                                <li><a href="/category">Shirts</a></li>
                                                <li><a href="/category">Pants</a></li>
                                                <li><a href="/category">Accessories</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3>Clothing</h3>
                                            <ul>
                                                <li><a href="/category">T-shirts</a></li>
                                                <li><a href="/category">Shirts</a></li>
                                                <li><a href="/category">Pants</a></li>
                                                <li><a href="/category">Accessories</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3>Shoes</h3>
                                            <ul>
                                                <li><a href="/category">Trainers</a></li>
                                                <li><a href="/category">Sandals</a></li>
                                                <li><a href="/category">Hiking shoes</a></li>
                                                <li><a href="/category">Casual</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer clearfix hidden-xs">
                                    <h4 class="pull-right">Women</h4>
                                    <div class="buttons pull-left">
                                        <a href="#" class="btn btn-default"><i class="fa fa-tags"></i> Sales</a>
                                        <a href="#" class="btn btn-default"><i class="fa fa-star-o"></i> Favourites</a>
                                        <a href="#" class="btn btn-default"><i class="fa fa-globe"></i> Brands</a>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Plugins <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Homepage</h5>
                                            <ul>
                                                <li><a href="/">Homepage - with slideshow</a></li>
                                            </ul>
                                            <h5>Shop</h5>
                                            <ul>
                                                <li><a href="/category">Category - sidebar right</a></li>
                                                <li><a href="/category-left">Category - sidebar left</a></li>
                                                <li><a href="/category-full">Category - full width</a></li>
                                                <li><a href="/detail">Product detail</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>User</h5>
                                            <ul>
                                                <li><a href="/register">Register / login</a></li>
                                                <li><a href="/customer-orders">Orders history</a></li>
                                                <li><a href="/customer-order">Order history detail</a></li>
                                                <li><a href="/customer-wishlist">Wishlist</a></li>
                                                <li><a href="/customer-account">Customer account / change password</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Order process</h5>
                                            <ul>
                                                <li><a href="/basket">Shopping cart</a></li>
                                                <li><a href="/checkout1">Checkout - step 1</a></li>
                                                <li><a href="/checkout2">Checkout - step 2</a></li>
                                                <li><a href="/checkout3">Checkout - step 3</a></li>
                                                <li><a href="/checkout4">Checkout - step 4</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Pages and blog</h5>
                                            <ul>
                                                <li><a href="/blog">Blog listing</a></li>
                                                <li><a href="/post">Blog Post</a></li>
                                                <li><a href="/faq">FAQ</a></li>
                                                <li><a href="/contact">Contact</a></li>
                                                <li><a href="/text">Text page</a></li>
                                                <li><a href="/text-left">Text page - left sidebar</a></li>
                                                <li><a href="/404">404 page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-collapse collapse right">
                <button type="button" class="btn navbar-btn btn-default" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <div class="navbar-collapse collapse right">
                <button type="button" class="btn navbar-btn btn-default" data-toggle="modal" data-target="#login-modal">
                    <span class="sr-only">User login</span>
                    <i class="fa fa-users"></i>
                </button>
            </div>

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>

    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->
